<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scNo</key>
		<string>2014042916362524331055107</string>
		<key>scName</key>
		<string>厦门大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362534410819145</string>
		<key>scName</key>
		<string>集美大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362539521801701</string>
		<key>scName</key>
		<string>厦门理工学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362544626839549</string>
		<key>scName</key>
		<string>福州大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362549730166302</string>
		<key>scName</key>
		<string>福建师范大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362555012573745</string>
		<key>scName</key>
		<string>福建农林大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362577618318985</string>
		<key>scName</key>
		<string>福建医科大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362582626084732</string>
		<key>scName</key>
		<string>福建工程学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362587842211639</string>
		<key>scName</key>
		<string>福建中医药大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362592517028281</string>
		<key>scName</key>
		<string>闽江学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362597883258087</string>
		<key>scName</key>
		<string>华侨大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362602836780563</string>
		<key>scName</key>
		<string>仰恩大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362607799015909</string>
		<key>scName</key>
		<string>泉州师范学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362612851454310</string>
		<key>scName</key>
		<string>漳州师范</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362624543530220</string>
		<key>scName</key>
		<string>莆田学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362630111731820</string>
		<key>scName</key>
		<string>三明学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362635243152044</string>
		<key>scName</key>
		<string>龙岩学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362640357527731</string>
		<key>scName</key>
		<string>厦门大学嘉庚学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362645952378002</string>
		<key>scName</key>
		<string>集美大学诚毅学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362650788586842</string>
		<key>scName</key>
		<string>福州大学阳光学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362655530963461</string>
		<key>scName</key>
		<string>福州大学至诚学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362660638815734</string>
		<key>scName</key>
		<string>福建师范大学协和学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362665548271857</string>
		<key>scName</key>
		<string>福建师范大学闽南科技学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362670432177544</string>
		<key>scName</key>
		<string>福建农林大学东方学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362676641989430</string>
		<key>scName</key>
		<string>福建农林大学金山学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362681577054820</string>
		<key>scName</key>
		<string>华侨大学福建音乐学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362686372843658</string>
		<key>scName</key>
		<string>福建电力职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362691387924323</string>
		<key>scName</key>
		<string>福建对外经济贸易职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362696291889946</string>
		<key>scName</key>
		<string>福建警察学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362700951695729</string>
		<key>scName</key>
		<string>福建广播电视大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362705897439842</string>
		<key>scName</key>
		<string>福建华南女子职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362710995802828</string>
		<key>scName</key>
		<string>福建交通职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362715949216404</string>
		<key>scName</key>
		<string>福建教育学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362720729906244</string>
		<key>scName</key>
		<string>福建金融职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362728739432033</string>
		<key>scName</key>
		<string>福建警官职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362733682603104</string>
		<key>scName</key>
		<string>福建林业职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362738475029132</string>
		<key>scName</key>
		<string>福建农业职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362743143760298</string>
		<key>scName</key>
		<string>福建商业高等专科学校</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362748543307470</string>
		<key>scName</key>
		<string>福建生物工程职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362754083639041</string>
		<key>scName</key>
		<string>福建水利电力职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362758871858386</string>
		<key>scName</key>
		<string>福建卫生职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362763721789392</string>
		<key>scName</key>
		<string>福建信息职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362768543583777</string>
		<key>scName</key>
		<string>福建行政学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362773372005453</string>
		<key>scName</key>
		<string>福建中医学院五洲科技学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362778260743997</string>
		<key>scName</key>
		<string>福州海峡职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362782869114905</string>
		<key>scName</key>
		<string>福州科技职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362787454698909</string>
		<key>scName</key>
		<string>福州黎明职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362792365848636</string>
		<key>scName</key>
		<string>福州软件职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362797046021706</string>
		<key>scName</key>
		<string>福州外语外贸职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362801779189532</string>
		<key>scName</key>
		<string>福州英华职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362811899123194</string>
		<key>scName</key>
		<string>福州职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362887556552641</string>
		<key>scName</key>
		<string>厦门海洋职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362892567960389</string>
		<key>scName</key>
		<string>厦门华天涉外职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362897693843497</string>
		<key>scName</key>
		<string>厦门华厦职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362902638286094</string>
		<key>scName</key>
		<string>厦门南洋学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362907690268055</string>
		<key>scName</key>
		<string>厦门兴才职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362912596140234</string>
		<key>scName</key>
		<string>厦门演艺职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362943628540693</string>
		<key>scName</key>
		<string>江夏学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362948479693625</string>
		<key>scName</key>
		<string>福州教育学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362953433449394</string>
		<key>scName</key>
		<string>厦门市广播电视大学</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362985015471525</string>
		<key>scName</key>
		<string>厦门东海学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362989960401840</string>
		<key>scName</key>
		<string>泉州儿童发展职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916362995765400438</string>
		<key>scName</key>
		<string>厦门科技学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363000668811966</string>
		<key>scName</key>
		<string>福建儿童发展职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363005462881701</string>
		<key>scName</key>
		<string>厦门软件职业技术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363010732367086</string>
		<key>scName</key>
		<string>厦门软件学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363020670677219</string>
		<key>scName</key>
		<string>福建艺术职业学校</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363049089978371</string>
		<key>scName</key>
		<string>厦门医学高等专科学校</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363055419949724</string>
		<key>scName</key>
		<string>厦门安防科技学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363062850967296</string>
		<key>scName</key>
		<string>福建艺术学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363077384551493</string>
		<key>scName</key>
		<string>厦门安防科技职业学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363082314806265</string>
		<key>scName</key>
		<string>厦门技师学院</string>
	</dict>
	<dict>
		<key>scNo</key>
		<string>2014042916363087243774758</string>
		<key>scName</key>
		<string>华侨大学厦门工学院</string>
	</dict>
</array>
</plist>
